<div class="col-lg-12">

    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of Company Categories
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="20%">
                            <mfDefaultSorter by="name">Category Name</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="is_readable">Associated Roles</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="action"></mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data; let i = index">
                        <td> {{data.name}} </td>
                        <td>
                            <select>Roles
                                <option>Owner</option>
                                <option>Admin</option>
                            </select>

                        </td>
                        <td>
                            <button class="btn btn-danger" value={{data.uuid}} (click)="onClickEdit(data)"> Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>