<div class="col-lg-12">

    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of Role Assignment Properties
        </div>
        <div class="card-body">

            <div class="form-group row">
                <div class="col-4">
                    <label>Select Category</label>
                    <select class="form-control" [(ngModel)]="selectedCompanyCategory" (change)="fillCompanyRoles($event.target.value)">
                        <option *ngFor="let obj of companyCategoriesArr" [value]="obj.uuid">{{obj.name}}</option>
                    </select>
                </div>
                <div class="col-4">
                    <label>Select Role</label>
                    <select class="form-control" (change)="fillPermissions($event.target.value)">
                        <option *ngFor="let obj of companyRolesArr" [value]="obj.uuid">{{obj.name}}</option>
                    </select>
                </div>
                <div class="col-4">
                    <label>{{htmlSpace}}</label>
                    <button class="btn btn-danger" (click)="onUpdatePermissions()"> Update Permissions
                    </button>
                </div>
            </div>

            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="20%">
                            <mfDefaultSorter by="name">Page Name</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="is_readable">Is Readable</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="is_editable">Is Editable</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="is_deletable">Is Deletable</mfDefaultSorter>
                        </th>
                        <!-- <th width="10%">
                            <mfDefaultSorter by="action"></mfDefaultSorter>
                        </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data; let i = index">
                        <td> {{data.name}} </td>
                        <td><input class="form-check-input" [(ngModel)]="data.is_readable" type="checkbox"
                                value="is_readable" name="is_readable"> </td>
                        <td><input class="form-check-input" [(ngModel)]="data.is_editable" type="checkbox"
                                value="is_editable" name="is_editable"> </td>
                        <td><input class="form-check-input" [(ngModel)]="data.is_deletable" type="checkbox"
                                value="is_deletable" name="is_deletable"> </td>
                        <!-- <button class="btn btn-danger" value={{data.uuid}} (click)="onClickView(data)"> View
                        </button> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>