<h1> Create New Vendors </h1>
<form #myForm="ngForm">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    Default User must be created
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="login_name">Login Name <strong>(*)</strong></label>
                        <div class="col-md-6">
                            <input [(ngModel)]="newUserProfile.login_name" type="text" name="login_name"
                                class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="password">Password <strong>(*)</strong></label>
                        <div class="col-md-6">
                            <input [(ngModel)]="newUserProfile.password" type="text" name="password"
                                class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="email">Email<strong>(*)</strong></label>
                        <div class="col-md-6">
                            <input [(ngModel)]="newUserProfile.email" type="text" name="email" class="form-control"
                                placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="role">Organization Level</label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="newUserProfile.role" name="role">
                                <option *ngFor="let obj of htmlRoleTypesArr" [value]="obj">{{obj}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    New Vendor Details - {{newVendorProfile.company_category}}
                </div>
                <div class="card-body">
                    <div class="form-group row" *ngIf="showCompanyCategoryTypesFlag">
                        <label class="col-md-3 col-form-label" for="company_category">Company Category</label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="newVendorProfile.company_category"
                                name="company_category">
                                <option *ngFor="let obj of htmlCompanyCategoryTypesArr" [value]="obj">{{obj}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="vendor_name">Business
                            Name<strong>(*)</strong></label>
                        <div class="col-md-6">
                            <input [(ngModel)]="newVendorProfile.vendor_name" type="text" name="vendor_name"
                                class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="about">About</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="newVendorProfile.about" type="text" name="about" class="form-control"
                                placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="vendor_website">Website</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="newVendorProfile.vendor_website" type="text" name="vendor_website"
                                class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="vendor_address">Address</label>
                        <div class="col-md-6">
                            <input [(ngModel)]="newVendorProfile.vendor_address" type="text" name="vendor_address"
                                class="form-control" placeholder="">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-group row">
                            <label for="working_days" class="col-md-3 col-form-label">Working Days</label>
                            <div class="col-md-3 col-form-label">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox1"
                                        name="checkbox1" [(ngModel)]="newVendorProfile.working_days.monday">
                                    <label class="form-check-label" for="checkbox1">
                                        Monday
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox2"
                                        name="checkbox2" [(ngModel)]="newVendorProfile.working_days.tuesday">
                                    <label class="form-check-label" for="checkbox2">
                                        Tuesday
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                        name="checkbox3" [(ngModel)]="newVendorProfile.working_days.wednesday">
                                    <label class="form-check-label" for="checkbox3">
                                        Wednesday
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                        name="checkbox3" [(ngModel)]="newVendorProfile.working_days.thursday">
                                    <label class="form-check-label" for="checkbox3">
                                        Thursday
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-form-label">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox1"
                                        name="checkbox3" [(ngModel)]="newVendorProfile.working_days.friday">
                                    <label class="form-check-label" for="checkbox1">
                                        Friday
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox2"
                                        name="checkbox3" [(ngModel)]="newVendorProfile.working_days.saturday">
                                    <label class="form-check-label" for="checkbox2">
                                        Saturday
                                    </label>
                                </div>
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox3"
                                        name="checkbox3" [(ngModel)]="newVendorProfile.working_days.sunday">
                                    <label class="form-check-label" for="checkbox3">
                                        Sunday
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="form-group row">
                                <label for="working_days" class="col-md-3 col-form-label">Working Hours</label>
                                <div class="col-md-3 col-form-label">
                                    <div class="form-group" style="display:inline-flex;">
                                        <input type="time" class="form-control" aria-describedby="startTimeHelp"
                                            [(ngModel)]="newVendorProfile.start_time" name="start_time"
                                            style="background-color: #f4f4f4;border:none ;" />
                                        <span>&nbsp;&nbsp;To &nbsp;&nbsp;&nbsp;</span>
                                        <input type="time" class="form-control" aria-describedby="endTimeHelp"
                                            [(ngModel)]="newVendorProfile.end_time" name="end_time"
                                            style="background-color: #f4f4f4;border:none" />
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div> Upload New Profile Image
                            <div class="panel-body">
                                <img [src]="htmlProfileImageLink" class="img-fluid img-main" style="width:50%;" />
                            </div>
                            <label class="btn btn-default">
                                <input type="file" id="htmlProfileImageLink" (change)="onImageUpload($event, 1)">
                            </label>
                        </div>

                        <div> Upload New Cover Image
                            <div class="panel-body">
                                <img [src]="htmlCoverImageLink" class="img-fluid img-main" style="width:50%;" />
                            </div>
                            <label class="btn btn-default">
                                <input type="file" id="htmlCoverImageLink" (change)="onImageUpload($event, 2)">
                            </label>
                        </div>

                        <div> Upload New Logo Image
                            <div class="panel-body">
                                <img [src]="htmlLogoImageLink" class="img-fluid img-main" style="width:50%;" />
                            </div>
                            <label class="btn btn-default">
                                <input type="file" id="htmlLogoImageLink" (change)="onImageUpload($event, 3)">
                            </label>
                        </div>
                        <div class="form-actions">
                            <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary"
                                (click)="onSubmit()">Create Vendor</button>
                            <button class="btn btn-secondary" type="button">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>