<h1> New User Details </h1>
<form #myForm="ngForm">
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="login_name">Login Name <strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.login_name" type="text" name="login_name" class="form-control"
                        placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password">Password <strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.password" type="text" name="password" class="form-control"
                        placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="salutation">Salutation</label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.salutation" type="text" name="salutation" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="first_name">First Name<strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.first_name" type="text" name="first_name" class="form-control"
                        placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="middle_name">Middle Name</label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.middle_name" type="text" name="middle_name" class="form-control"
                        placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="last_name">Last Name <strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.last_name" type="text" name="last_name" class="form-control"
                        placeholder="" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="phone">Phone</label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.phone" type="text" name="phone" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="date_of_birth">Date of Birth</label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.date_of_birth" type="text" name="date_of_birth" class="form-control"
                        placeholder="" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="profile_link">Profile Link</label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.profile_link" type="text" name="profile_link" class="form-control"
                        placeholder="" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email">Email <strong>(*)</strong></label>
                <div class="col-md-6">
                    <input [(ngModel)]="userProfile.email" type="text" name="email" class="form-control" placeholder=""
                        required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="role">Organization Level</label>
                <div class="col-md-6">
                    <select class="form-control" [(ngModel)]="userProfile.role_uuid" name="role_uuid">
                        <option *ngFor="let obj of htmlRoleTypesArr" [value]="obj.uuid">{{obj.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-actions">
                <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary" (click)="onSubmit()">Create
                    User</button>
                <button class="btn btn-secondary" type="button">Cancel</button>
            </div>
        </div>
    </div>
</form>