<div class="animated fadeIn">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Custom {{displayHtmlIncentiveTypeText}} Search
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-4">
            <label>Text </label>
            <input class="form-control" type="text" [(ngModel)]="searchIncentivesString" name="searchIncentivesString"
              placeholder="..." [typeahead]="suggestedIncentivesArr">
          </div>
          <div class="col-4">
            <label>Group Type </label>
            <select class="form-control" [(ngModel)]="searchPrimaryIncentivesType" name="searchPrimaryIncentivesType">
              <option *ngFor="let p of htmlSearchPrimaryIncentivesTypeArr" [value]="p">{{p}}</option>
            </select>

          </div>
          <div class="col-4">
            <label>Status </label>
            <select class="form-control" [(ngModel)]="searchIncentivesType" name="search">
              <option *ngFor="let s of htmlSearchIncentivesTypeArr" [value]="s">{{s}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-6">
            <label>Created Start Date </label>
            <input type="text" class="form-control" [(ngModel)]="searchStartTimeString" name="searchStartTimeString"
              [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
              [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
          </div>
          <div class="col-6">
            <label>Created End Date </label>
            <input type="text" class="form-control" [(ngModel)]="searchEndTimeString" name="searchEndTimeString"
              [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
              [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-primary" (click)="searchIncentives()">Search</button>
          <button class="btn btn-danger" type="reset">Reset</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="col-4">
          <button class="form-control btn btn-primary" (click)="onClickCreateIncentive()">Create New
            {{displayHtmlIncentiveTypeText}}</button>
        </div>
        <div class="col-4">
          <button class="form-control btn btn-primary" (click)="onClickDownloadIncentives()">Download
            {{displayHtmlIncentiveTypeText}}(s)</button>
        </div>
        <div class="col-4">
          <button class="form-control btn btn-primary" (click)="onClickUploadIncentives()">Upload
            {{displayHtmlIncentiveTypeText}}(s)</button>
          <input type="file" accept=".csv" (change)=" onClickUploadFile($event)" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <h4 class="title">All {{displayHtmlIncentiveTypeText}}s (Total - {{htmlTotalIncentives}})</h4>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let incentive of incentives">
      <div class="card">
        <div class="card-header">
          {{incentive.name}}
        </div>
        <div class="card-body">

          <div class="profile-pic">
            <img src={{incentive.image_link}} style="height:216px;" />
            <div class="edit">
              <a (click)="onClickUpdate(incentive)">
                <i class="fa fa-pencil fa-lg"></i>
              </a>
              <span *ngIf="htmlShowDeactivateButton">
                <input type="checkbox" name="{{incentive.name}}" (click)="onIncentiveCheckboxClick($event)" value="{{incentive.uuid}}">
                Select to deactivate
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--/.col-->

  </div>
  <!--/.row-->

</div>

<!-- 
<div class="row">
  <div class="row">

    <div class="form-inline">
      <label>Search {{displayHtmlIncentiveTypeText}} :&nbsp;</label>
      <input class="form-control" type="text" [(ngModel)]="searchIncentivesString" name="searchIncentivesString"
        placeholder="..." [typeahead]="suggestedIncentivesArr">
      <select class="form-control" [(ngModel)]="searchPrimaryIncentivesType" name="searchPrimaryIncentivesType">
        <option *ngFor="let p of htmlSearchPrimaryIncentivesTypeArr" [value]="p">{{p}}</option>
      </select><select class="form-control" [(ngModel)]="searchIncentivesType" name="search">
        <option *ngFor="let s of htmlSearchIncentivesTypeArr" [value]="s">{{s}}</option>
      </select>


      <label>Created Start Date: </label>
      <input type="text" class="form-control" [(ngModel)]="searchStartTimeString" name="searchStartTimeString"
        [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
        [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
      <label>Created End Date: </label>
      <input type="text" class="form-control" [(ngModel)]="searchEndTimeString" name="searchEndTimeString" [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
        [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
      <button class="form-control btn btn-primary" (click)="searchIncentives()">Search</button>

    </div>
    <br>

    <div class="row">
      <div class="col-sm-2">
        <button class="form-control btn btn-primary" (click)="onClickCreateIncentive()">Create New
          {{displayHtmlIncentiveTypeText}}</button>
      </div>
      <div class="col-sm-2">
        <button class="form-control btn btn-primary" (click)="onClickDownloadIncentives()">Download
          {{displayHtmlIncentiveTypeText}}</button>
      </div>
      <div class="col-sm-2">
        <button class="form-control btn btn-primary" (click)="onClickUploadIncentives()">Upload
          {{displayHtmlIncentiveTypeText}}</button>
        <input type="file" accept=".csv" (change)=" onClickUploadFile($event)" />
      </div>
      <div class="col-sm-3" *ngIf="htmlShowDeactivateButton">
        <button class="form-control btn btn-primary" (click)="onClickDeactivateBatchIncentives()">Deactivate
          Selected
          {{displayHtmlIncentiveTypeText}}s </button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="card">
        <div class="card-header" data-background-color="orange">
          <h4 class="title">All {{displayHtmlIncentiveTypeText}}s (Total - {{htmlTotalIncentives}})</h4>
        </div>
        <div class="card-content table-responsive">
          <div class="col-sm-6 col-md-4" *ngFor="let incentive of incentives">
            <div class="card" style="min-height: 216px;">
              <div class="profile-pic">
                <img src={{incentive.image_link}} style="height:216px;" />
                <div class="edit">
                  <a (click)="onClickUpdate(incentive)">
                    <i class="fa fa-pencil fa-lg"></i>
                  </a>
                  <span *ngIf="htmlShowDeactivateButton">
                    <input type="checkbox" name="{{incentive.name}}" (click)="onIncentiveCheckboxClick($event)" value="{{incentive.uuid}}">
                    Select to deactivate
                  </span>
                </div>
              </div>

              <div class="card-body" style="min-height: 60px;">
                <div style="display:inline flex">
                  <span style="font-size: 25px;text-align:center;font-weight:bold;">{{incentive.name}}</span>
                </div>
                <p class="card-text">{{incentive.summary}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->