


<div class="contanier">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="card">
       
          <div  class="card-header"><h6>Campaign Creation Page</h6>  </div>
  
            <!-- Actual search box -->
       
 <div class="container">
  <div class="row">
   <div class="col-sm-6 ">
                      
 <div class="form-group has-search" style="  ">
 <div class="input-group-prepend">
  </div>
             
   <span class="fa fa-search form-control-feedback" style="margin: 9px -4px 1px 5px;" ></span>
    <input type="text" class="form-control" placeholder="Search" style="margin: 9px -4px 1px 5px;">
</div>
 </div>
<div class="col-sm-6">
 <button type="button" class="btn btn-primary"  style="margin:8px;" [routerLink]="['/newcampaign']" ><i class="fa fa-plus"></i></button>
<button type="button" class="btn btn-primary" style="margin:8px;"><i class="fa fa-upload"></i></button>
 <button type="button" class="btn btn-primary"style="margin:8px;"><i class="fa fa-download"></i></button>
                  </div>
                </div>
              </div>
<table class="table table-bordered">
  <thead>
    <tr ng-controller="MyCtrl">
      <th scope="col"></th>
      <th scope="col">campaign_name</th>
      <th scope="col">campaign_type</th>
      <th scope="col" for="endDate"  class="control-label" >start-date</th>
      <th scope="col" for="text" class="control-label">end-date</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"></label>
      </div></th>
      <td>Cmp1</td>
      <td>Cristina</td>
      <td>
          <input type="text" class="form-control" name="searchStartTimeString" placeholder="DD-MM-YYYY"
          [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
          [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
  </td>
      <td>
         <input type="text" class="form-control" name="searchEndTimeString" placeholder="DD-MM-YYYY"
                [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
                [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
          
        </td>
      <td>
        <div class="form-group">
                     <label for="sel1">
                       </label>
                     <select class="form-control" id="sel1">
                       <option>Active</option>
                       <option>Deactive</option>
                      </select>
                   </div>
      </td>
    </tr>
    <tr>
      <th scope="row"> <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"></label>
      </div></th>
      <td>Cmp1</td>
      <td>Cristina</td>
      <td>
         
              <input type="text" class="form-control" name="searchStartTimeString" placeholder="DD-MM-YYYY"
              [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
              [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
      </td>
          <td>
             <input type="text" class="form-control" name="searchEndTimeString" placeholder="DD-MM-YYYY"
                    [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
                    [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
              
            </td>
      <td>
        
              <div class="form-group">
                     <label for="sel1"></label>
                     <select class="form-control" id="sel1">
                       <option>Active</option>
                       <option>Deactive</option>
                      
                     </select>
                   </div>
           
      
      </td>
    </tr>
    <tr>
      <th scope="row"> <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"></label>
      </div></th>
      <td>Cmp1</td>
      <td>Cristina</td>
      <td>
      <input type="text" class="form-control" name="searchStartTimeString" placeholder="DD-MM-YYYY"
              [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
              [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
      </td>
          <td>
             <input type="text" class="form-control" name="searchEndTimeString" placeholder="DD-MM-YYYY"
                    [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
                    [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
              
            </td>
       
      <td>
         <div class="form-group">
                <label for="sel1"></label>
                <select class="form-control" id="sel1">
                  <option>Active</option>
                  <option>Deactive</option>
                 
                </select>
              </div>
       
      </td>
    </tr>
  </tbody>
</table>

</div>
</div>
</div></div>

<!-- 
<script>


  function MyCtrl($scope) {
    $scope.checkErr = function(startDate,endDate) {
        $scope.errMessage = '';
        var curDate = new Date();
        
        if(new Date(startDate) > new Date(endDate)){
          $scope.errMessage = 'End Date should be greater than start date';
          return false;
        }
        if(new Date(startDate) < curDate){
           $scope.errMessage = 'Start date should not be before today.';
           return false;
        }
    };
    
}

</script> -->


