<div class="animated fadeIn">
  <div class="row">
    <div class="card-columns cols-3">
      <div class="card">
        <div class="card-header">
          <h3>Contract Details</h3>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [labels]="doughnutChartLabels1" [data]="doughnutChartData1"
              [chartType]="doughnutChartType1" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>System Users</h3>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [labels]="doughnutChartLabels2" [data]="doughnutChartData2"
              [chartType]="doughnutChartType2" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Contract Status</h3>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">

            <canvas baseChart class="chart" [labels]="doughnutChartLabels3" [data]="doughnutChartData3"
              [chartType]="doughnutChartType3" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <i class="fa fa-facebook"></i>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData1" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">89k</div>
            <div class="text-uppercase text-muted small">friends</div>
          </div>
          <div>
            <div class="text-value">459</div>
            <div class="text-uppercase text-muted small">feeds</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <i class="fa fa-twitter"></i>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData2" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">973k</div>
            <div class="text-uppercase text-muted small">followers</div>
          </div>
          <div>
            <div class="text-value">1.792</div>
            <div class="text-uppercase text-muted small">tweets</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin">
          <i class="fa fa-linkedin"></i>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData3" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">500+</div>
            <div class="text-uppercase text-muted small">contacts</div>
          </div>
          <div>
            <div class="text-value">292</div>
            <div class="text-uppercase text-muted small">feeds</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus">
          <i class="fa fa-google-plus"></i>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData4" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">894</div>
            <div class="text-uppercase text-muted small">followers</div>
          </div>
          <div>
            <div class="text-value">92</div>
            <div class="text-uppercase text-muted small">circles</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

</div>




<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h3>Client Status</h3>
    </div>
    <div class="card-body">

      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="callout callout-info">
              <small class="text-muted">New Clients</small>
              <br>
              <strong class="h4">4,571</strong>
            </div>
          </div>
          <!--/.col-->
          <div class="col-sm-6">
            <div class="callout callout-danger">
              <small class="text-muted">Recurring Clients</small>
              <br>
              <strong class="h4">8,475</strong>
            </div>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
        <hr class="mt-0">
        <div class="progress-group mb-4">
          <div class="progress-group-prepend">
            <span class="progress-group-text">
              Monday
            </span>
          </div>
          <div class="progress-group-bars">
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="progress-group mb-4">
          <div class="progress-group-prepend">
            <span class="progress-group-text">
              Tuesday
            </span>
          </div>
          <div class="progress-group-bars">
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 56%" aria-valuenow="56"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 94%" aria-valuenow="94"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="progress-group mb-4">
          <div class="progress-group-prepend">
            <span class="progress-group-text">
              Wednesday
            </span>
          </div>
          <div class="progress-group-bars">
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 12%" aria-valuenow="12"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 67%" aria-valuenow="67"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="progress-group mb-4">
          <div class="progress-group-prepend">
            <span class="progress-group-text">
              Thursday
            </span>
          </div>
          <div class="progress-group-bars">
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 43%" aria-valuenow="43"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 91%" aria-valuenow="91"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="progress-group mb-4">
          <div class="progress-group-prepend">
            <span class="progress-group-text">
              Friday
            </span>
          </div>
          <div class="progress-group-bars">
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 73%" aria-valuenow="73"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="progress-group mb-4">
          <div class="progress-group-prepend">
            <span class="progress-group-text">
              Saturday
            </span>
          </div>
          <div class="progress-group-bars">
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 53%" aria-valuenow="53"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 82%" aria-valuenow="82"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="progress-group mb-4">
          <div class="progress-group-prepend">
            <span class="progress-group-text">
              Sunday
            </span>
          </div>
          <div class="progress-group-bars">
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 69%" aria-valuenow="69"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>