<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
       Create Campaign
      </div>
      <br>
 

 <div class="form-group row">
    <div class="col-sm-8">
     
      <label for="Campaign name">Campaign Name</label>
      <input type="text" name="Campaign name" class="form-control" placeholder="Enter Campaign Name">
    </div>
    <div class="col-sm-8">
        <label>Campaign Type</label>
        <select class="form-control" name="search">
            <option>Select</option> 
          <option>campaign type1</option> 
          <option>campaign type2</option> 
          <option>campaign type3</option> 
        </select>

    </div>
    <div class="col-sm-8">
      <label>Reward/Coupon </label>
      <div class="form-group has-search" style="  ">
          <div class="input-group-prepend">
           </div>
                      
            <!-- <span class="fa fa-search form-control-feedback"  ></span> -->
             <input type="text" class="form-control" placeholder="Search" >
         </div>
    </div>
   
        <div class="col-sm-8">
          <label>Start Date</label>
          <input type="text" class="form-control" name="searchStartTimeString" placeholder="DD-MM-YYYY"
            [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
            [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
        </div>
        <div class="col-sm-8">
          <label>End Date</label>
          <input type="text" class="form-control" name="searchEndTimeString" placeholder="DD-MM-YYYY"
            [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
            [minDate]="minDate" [maxDate]="maxDate" bsDatepicker>
        </div>
      
  </div>


<div class="col-sm-6">
  <button type="button" class="btn btn-primary"  style="margin:8px;" >Create Campaign</button>
 <button type="button" class="btn btn-primary" style="margin:8px;">Cancel</button>
 
                   </div>
</div>
</div><!--/.col-->

</div>