<form #myForm="ngForm">
    <div class="row">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <strong> Contract Details </strong>
                </div>
                <div class="card-body">

                    <div class="form-group row was-validated">
                        <label class="col-md-3 col-form-label" for="document_name">
                            Name
                        </label>
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="legalDocument.document_name" name="document_name"
                                class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="description">
                            Description
                        </label>
                        <div class="col-md-6">
                            <textarea type="text" class="form-control" [(ngModel)]="legalDocument.description"
                                name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="assigned_to_user">
                            Assign Contract to User
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.assigned_to_user"
                                name="assigned_to_user">
                                <option>Admin</option>
                                <option>John Kelly</option>
                                <option>Pat Simmons</option>
                                <option>Mohammed Iqbal</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="copy_from_contract">
                            Copy From Contract
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.copy_from_contract"
                                name="copy_from_contract">
                                <option>Contract 1</option>
                                <option>Contract 2</option>
                                <option>Contract 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="test_project">
                            Test Project
                        </label>
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="legalDocument.test_project" name="test_project"
                                class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="base_language">
                            Base Language
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.base_language" name="base_language">
                                <option>English</option>
                                <option>French</option>
                                <option>Russian</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="hierarchical_type">
                            Hierarchical Type
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.hierarchical_type"
                                name="hierarchical_type">
                                <option>Stand alone Agreement</option>
                                <option>Default Agreement</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="supplier">
                            Supplier
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.supplier" name="supplier">
                                <option>Supplier 1</option>
                                <option>Supplier 2</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="affected_parties">
                            Affected Parties
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.affected_parties"
                                name="affected_parties">
                                <option>Party 1</option>
                                <option>Party 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="proposed_contract_amount">
                            Proposed Contract Amount
                        </label>
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="legalDocument.proposed_contract_amount"
                                name="proposed_contract_amount" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="original_contract_amount">
                            Original Contract Amount
                        </label>
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="legalDocument.original_contract_amount"
                                name="original_contract_amount" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="commodity">
                            Commodity
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.commodity" name="commodity">
                                <option>Commodity 1</option>
                                <option>Commodity 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="regions">
                            Regions
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.regions" name="regions">
                                <option>US </option>
                                <option>UK</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="predecessor_project">
                            Predecessor Project
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.predecessor_project"
                                name="predecessor_project">
                                <option>Project 1</option>
                                <option>Project 2</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="option_to_renew"> Option to renew </label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <label class="radio-inline">
                                    <input type="radio" [value]="false" name="option_to_renew"
                                        (change)="onBatchRadioChange(false)"
                                        [(ngModel)]="legalDocument.option_to_renew">Yes
                                </label>
                            </div>
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <label class="radio-inline">
                                    <input type="radio" [value]="true" name="option_to_renew"
                                        (change)="onBatchRadioChange(true)"
                                        [(ngModel)]="legalDocument.option_to_renew">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="term_type">
                            Term Type
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="legalDocument.term_type" name="term_type">
                                <option>Fixed</option>
                                <option>1 Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="effective_date">
                            Effective Date
                        </label>
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="legalDocument.effective_date" name="effective_date"
                                class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="expiration_date">
                            Expiration Date
                        </label>
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="legalDocument.expiration_date" name="expiration_date"
                                class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary" (click)="onSubmit()">
                            <span *ngIf="is_document_new">Add Contract</span>
                            <span *ngIf="!is_document_new">Update Contract</span>
                        </button>
                        <button class="btn btn-secondary" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>