<form #myForm="ngForm">
    <div class="row">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <strong> Process Contract </strong>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="document_name">
                            Document Name
                        </label>
                        <div class="col-md-6">
                            <label class="col-md-3 col-form-label" for="document_name">
                                {{legalDocument.document_name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group row was-validated">
                        <label class="col-md-3 col-form-label" for="processed_document_lines">
                            Lines to Process
                        </label>
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="legalDocument.processed_document_lines"
                                name="processed_document_lines" class="form-control" placeholder="" required>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary"
                            (click)="onSubmit()">Process Contract</button>
                        <button class="btn btn-secondary" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showSpinnerFlag" class="spinner">
    </div>
</form>