<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of All Processed Contracts
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="20%">
                            <mfDefaultSorter by="document_name">Document Name</mfDefaultSorter>
                        </th>
                        <!-- <th width="20%">
                            <mfDefaultSorter by="processed_document_name">Processed Document Name</mfDefaultSorter>
                        </th> -->
                        <th width="20%">
                            <mfDefaultSorter by="processed_document_lines">Total Lines Summarized</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="action">Action</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="action">Action</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data; let i = index">
                        <td> {{data.document_name}} </td>
                        <!-- <td> {{data.processed_document_name}} </td> -->
                        <td> {{data.processed_document_lines}} </td>
                        <td>
                            <a [routerLink]="" (click)="onViewOriginalDocument(data.document_url)">View Original Contract</a>
                        </td>
                        <td>
                            <a [routerLink]="" (click)="onViewProcessedDocument(data)">View Processed Contract</a>
                        </td>
                        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>