<div *ngIf="showWindowFlag">
    <div class="modal-content modal-lg" style="border-color: blue !important;">

        <div class="panel-heading chat-top-bar">
            <div class="app-title">
                <span>
                    <h2>{{title}}</h2>
                </span>                
            </div>
        </div>

        <div class="modal-body">
            <div *ngIf="displayTextFlag">
                {{displayText}}
            </div>
            <div *ngIf="!displayTextFlag">
                <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;" [fit-to-page]="true">
                </pdf-viewer>
            </div>

            

        </div>
    </div>

</div>