<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List of All Contracts
        </div>
        <div class="card-body">
            <table class="table table-striped" [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th width="20%">
                            <mfDefaultSorter by="document_name">Document Name</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="assigned_to_user">Assigned To</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="is_document_uploaded">Was Uploaded ?</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="action">Action</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="action">Action</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data; let i = index">
                        <td> {{data.document_name}} </td>
                        <td> {{data.assigned_to_user}} </td>
                        <!-- <td>
                        
                            <a [routerLink]="" (click)="onClickUrl(data.document_url)">{{data.document_name}}</a>
                        </td> -->
                        <td> {{data.is_document_uploaded}} </td>
                        <td>
                            <button class="btn btn-danger" value={{data.uuid}} (click)="onClickView(data)">View Contract
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" value={{data.uuid}} (click)="onClickProcess(data)">
                                Process Uploaded Contracts
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>