<form #myForm="ngForm">
    <div class="row">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <strong> Upload New Contract </strong>
                </div>
                <div class="card-body">

                    <div class="form-group row was-validated">
                        <label class="col-md-3 col-form-label" for="document_name">
                            Name
                        </label>
                        <div class="col-md-6">
                            <input type="text" [(ngModel)]="legalDocument.document_name" name="document_name"
                                class="form-control" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="upload_document">Upload Document </label>
                        <div class="col-md-6">
                            <input type="file" id="htmlImageLink" (change)="onFileUpload($event)" required>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary"
                            (click)="onSubmit()">Upload Document</button>
                        <button class="btn btn-secondary" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>