<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Legal Analytics - Login</h1>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="userProfile.login_name" name="login_name" type="text" class="form-control"
                    placeholder="Username" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="userProfile.password" name="password" type="password" class="form-control"
                    placeholder="Password" required>
                </div>

                <!-- <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <select [(ngModel)]="userProfile.role_uuid" name="role_uuid" placeholder="Organization Level">
                    <option *ngFor="let obj of companyRoleTypesArr" [value]="obj.uuid">{{obj.name}}</option>
                  </select>
                </div> -->

                <!-- <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <select [(ngModel)]="userProfile.company_category" name="company_category" >
                    <option *ngFor="let obj of picklistCompanyCategoryTypesArr" [value]="obj">{{obj}}</option>
                  </select>
                </div>
                 -->
                <button type="button" class="btn btn-block btn-success" (click)="onClickLogin()">Login</button>
              </form>
            </div>
            <!-- <div class="card-footer p-4">
              <div class="row">
                <div class="col-6"> <button type="button" (click)="socialSignIn('google')"
                    class="btn btn-brand btn-lg btn-google-plus mr-1">
                    <i class="fa fa-google-plus"></i>
                    <span>Google+</span>
                  </button>
                </div>
                <div class="col-6">
                  <button type="button" (click)="socialSignIn('google')" class="btn btn-brand btn-lg btn-facebook mr-1">
                    <i class="fa fa-facebook"></i>
                    <span>Facebook</span>
                  </button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<!-- 

<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Log In</h1>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="user.login_name" name="login_name" type="text" class="form-control"
                    placeholder="Username" autocomplete="username" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input [(ngModel)]="user.password" name="password" type="password" class="form-control"
                    placeholder="Password" autocomplete="new-password" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <select [(ngModel)]="user.type" name="userType">
                    <option *ngFor="let userType of picklistUserTypes" [value]="userType">{{userType}}</option>
                  </select>
                </div>
                <span class="help-block">(login : 'admin' and password : 'admin') - Default login credentials for
                  Realtor and Land Registry </span>

                <button type="button" class="btn btn-block btn-success" (click)="onClickLogin()">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div> -->